APP_NAME = KamitBrains Forgejo Git Platform
RUN_MODE = prod
RUN_USER = git

[repository]
ROOT = /data/git/repositories

[database]
DB_TYPE = sqlite3
PATH = /data/gitea/gitea.db

[server]
SSH_DOMAIN = {{ forgejo_hostname }}
DOMAIN = {{ forgejo_hostname }}
HTTP_PORT = 3000
ROOT_URL = https://{{ forgejo_hostname }}/
DISABLE_SSH = false
SSH_PORT = {{ forgejo_ssh_port }}
LFS_START_SERVER = true

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ lookup('password', '/tmp/forgejo_secret_key length=32 chars=hexdigits') }}
INTERNAL_TOKEN = {{ lookup('password', '/tmp/forgejo_internal_token length=32 chars=hexdigits') }}

[service]
DISABLE_REGISTRATION = false
ALLOW_ONLY_EXTERNAL_REGISTRATION = false
SHOW_REGISTRATION_BUTTON = true
REQUIRE_SIGNIN_VIEW = false

[openid]
ENABLE_OPENID_SIGNIN = false
ENABLE_OPENID_SIGNUP = false
