- Documentation:
    - GitHub Repo:
        - href: https://github.com/nkaurelien/docker-examples
          icon: https://raw.githubusercontent.com/selfhst/icons/main/svg/github.svg
    - Docs Site:
        - href: https://nkaurelien.github.io/docker-examples/
          icon: https://raw.githubusercontent.com/selfhst/icons/main/svg/mkdocs.svg
