- Documentation:
    - GitHub Repo:
        - icon: github.png
        - href: https://github.com/nkaurelien/docker-examples
    - Docs Site:
        - icon: mkdocs.png
        - href: https://nkaurelien.github.io/docker-examples/
