- Documentation:
    - GitHub Repo:
        - href: https://github.com/nkaurelien/docker-examples
          icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/github.webp
    - Docs Site:
        - href: https://nkaurelien.github.io/docker-examples/
          icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/mkdocs.webp
