title: Kamitbrains Infrastructure Portal
logo: https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/I_Love_New_York.svg/1101px-I_Love_New_York.svg.png
theme: dark
color: slate
layout:
  Core Services:
    style: grid
    columns: 3
  Sharing & Productivity:
    style: grid
    columns: 2
  Management & Monitoring:
    style: grid
    columns: 3
  Security & Authentication:
    style: grid
    columns: 2
