title: Kamitbrains Infrastructure Portal
theme: dark
color: slate
background:
  image: /images/bg-red.jpg
  opacity: 60
  blur: sm

{% if homepage_finnhub_api_key is defined and homepage_finnhub_api_key %}
providers:
  finnhub: {{ homepage_finnhub_api_key }}
{% endif %}

layout:
  Core Services:
    style: grid
    columns: 3
  Sharing & Productivity:
    style: grid
    columns: 2
  Management & Monitoring:
    style: grid
    columns: 3
  Security & Authentication:
    style: grid
    columns: 2
