# OpenLDAP Configuration
LDAP_ORGANISATION=kamitbrains-it
LDAP_DOMAIN=kamitbrains.local
LDAP_BASE_DN=dc=kamitbrains,dc=local
LDAP_ADMIN_PASSWORD=password

# Ports
LDAP_PORT=389
LDAPS_PORT=636
PHPLDAPADMIN_PORT=8088
