# OpenLDAP Configuration
LDAP_ORGANISATION=kamitbrains-it
LDAP_DOMAIN=kamitbrains.local
LDAP_BASE_DN=dc=kamitbrains,dc=local

# Ports
LDAP_PORT=389
LDAPS_PORT=636
PHPLDAPADMIN_PORT=8088

# Traefik / Domain Configuration
PHPLDAPADMIN_HOSTNAME=ldap.kamitbrains.local
