DOMAIN=kamitbrains.fr
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=paperless_db_password_change_me
PAPERLESS_SECRET_KEY=paperless_secret_key_change_me
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=paperless_password_change_me
