[WebService]
Origins = https://{{ cockpit_hostname }} wss://{{ cockpit_hostname }} http://{{ cockpit_hostname }}
ProtocolHeader = X-Forwarded-Proto
AllowUnencrypted = true
LoginTitle = Kamitbrains Server Cockpit
