ENCRYPTION_KEY=6c2249821f29b253815f3a1a631b0bd8
AUTH_SECRET=/7zCsI4mohBuDW7hkl19Y/bRfRDoCn3KblQrYgE6qxA=
SITE_URL=http://localhost:8080
DB_NAME=infisical
DB_USER=infisical
DB_PASSWORD=infisical_secure_password
