services:

  #######################################
  # Mailpit: Email testing tool
  #######################################
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - mailpit-data:/data
    ports:
      - "8025:8025"   # Web UI
      - "1025:1025"   # SMTP
    environment:
      - MP_MAX_MESSAGES=${MP_MAX_MESSAGES:-5000}
      - MP_DATABASE=/data/mailpit.db
      - MP_SMTP_AUTH_ACCEPT_ANY=1
      - MP_SMTP_AUTH_ALLOW_INSECURE=1

volumes:
  mailpit-data:
    name: mailpit-data
